{% sw_extends '@Framework/documents/base.html.twig' %}

{% block document_line_item_table_row_product_number %}
    {% if lineItem.payload.productNumber %}
        <td>{{ lineItem.payload.productNumber }}</td>
    {% else %}
        <td></td>
    {% endif %}
{% endblock %}
